# Compilados de C/C++
*.out
*.o
*.obj
*.exe
*.a
*.so
*.dll
*.data


# Carpetas de compilación
build/
dist/
bin/
config/

# Archivos de base de datos
*.db

# Archivos temporales
*.log
*.tmp
*.swp
*~
*.old
perf.*

# Archivos de backup
*.bak

# Archivos generados por editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store

# Ignora ejecutables del servidor
server
web_atlantis
