# Default DEV_MODE=1
DEV_MODE=1

# Default DEBUG_MODE=1
DEBUG_MODE=1

# Default LOG_MODE=0
LOG_MODE=0

# Default MAX_THREADS=2 (minimo 2, máximo 8)
MAX_THREADS=2

# Default PORT=8080
PORT=8080

# Default MAX_REQ_BUF_SIZE=8192 (8kb para el buffer de lectura de peticiones TCP)
MAX_REQ_BUF_SIZE=8192

# Default SERVERS_PATH=juegos (Sin ruta absoluta se asume "$HOME/[servers_paths]". la ruta absoluta length<=31 caracteres.)
SERVERS_PATH=juegos

Default LOGIN_EXPIRATION=3600 (60 minutos) Min: 1800 (30 min), Max: 172800(48hrs)
LOGIN_EXPIRATION=3600

#Default DB_NAME=atlantis.db
DB_NAME=atlantis.db

Default LOG_FILE=atlantis.log
LOG_FILE=atlantis.log

